body{
    background-color: red;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

p{
    color: white;
    font-size: 16px;
}

#missao{
  color: yellow;  
  font-size: 24px;
  font-weight: bold;
}
#banner{
  width: 100%;
}